.cdx-googleAd-icon svg {
  transform: rotate(180deg);
}

.cdx-googleAd {
  margin: 0;
}

.cdx-googleAd__width {}

.cdx-googleAd__height {}

.cdx-googleAd__adClient {}

.cdx-googleAd__adSlot {}

.cdx-googleAd__adFormat {}

.cdx-googleAd [contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-googleAd [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-googleAd [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-googleAd-settings {
  display: flex;
}

.cdx-googleAd-settings .cdx-settings-button {
  width: 50%;
}
